:host {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .example-card {
    width: 300px;
    background-image: url("src/assets/minimal-bg.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }