<div class="host">
    <br>
    <form (ngSubmit)="userCheck()" method="POST">
      <mat-card class="example-card">
        <mat-card-title>
          Sign In
        </mat-card-title>
        <mat-card-content>
          <mat-form-field>
            <input matInput type="email" name ="email" [(ngModel)]="user.email" placeholder="Enter Email ID">
          </mat-form-field>
        </mat-card-content>
        <mat-card-content>
          <mat-form-field>
            <input matInput type="password" name ="pass" [(ngModel)]="user.password" placeholder="Enter Password">
          </mat-form-field>
        </mat-card-content>
        <mat-card-content>
          <button type="submit" mat-raised-button color="primary">Submit</button>
        </mat-card-content>
      </mat-card>
    </form>
</div>