<div style="background-color: #2d2d2b; height: 800px;">
    <div style="text-align: center;">
        <h1 style="color: aliceblue; font-size: 50px; padding-top: 15px;">Welcome</h1>
    </div>
    <div style="text-align: center; padding-top: 1cm;">
        <nav>
            <button mat-raised-button color="primary" routerLink="/login">Sign In</button>
        </nav>
        <nav style="padding-top: 1cm;padding-bottom: 1cm;">
            <button mat-raised-button color="accent" routerLink="/register">Register</button>
        </nav>
    </div>
    <div style="text-align: center">
        <router-outlet></router-outlet>
    </div>

</div>