<div class="host">
    <form (ngSubmit)="userRegister()" method="POST">

        <mat-card class="example-card">
            <mat-card-title>
                User Registration
            </mat-card-title>

            <mat-card-content>
                <mat-form-field>
                    <input type="email" matInput placeholder="Email" name ="email" [(ngModel)]="user.email" required>
                </mat-form-field>
            </mat-card-content>
                
            <mat-card-content>
                <mat-form-field>
                    <input type="number" matInput placeholder="Phone Number" name ="phone" [(ngModel)]="user.phone" required>
                </mat-form-field>
            </mat-card-content>
                
            <mat-card-content>
                <mat-form-field>
                    <input matInput placeholder="First Name"  name ="name" [(ngModel)]="user.name" required>
                </mat-form-field>
            </mat-card-content>

            <mat-card-content>
                <mat-form-field>
                    <input type="password" matInput placeholder="Password"  name ="password" [(ngModel)]="user.password" required>
                </mat-form-field>
            </mat-card-content>

            <mat-card-content>
                <button type="submit" mat-raised-button color="primary">Submit</button>
                <button mat-raised-button color="primary" (click)="user.email='' || user.password='' || user.name='' || user.phone=null">Cancel</button>

            </mat-card-content>
        </mat-card>

    </form>
    
</div>